h1{
  display: inline-block;
    margin-right: 1%;
}
h2{
    display: inline-block;
    margin-right: 1%;
}
input {
    display: inline-block;
    margin-left: 5%;
}
.solution{
  display: none;
  background: #ccc;
  width: 90%;
}
#trigger:checked + .solution {
  display: block;
  width: 90%;
}
.solutiongroup{
  display: none;
}
#grouptrigger:checked + .solutiongroup {
  display: block;
}
