#feedback{
    background-color: lightgreen;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

main {
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 12%;
    width: 100%;
    background-color: #e24510;
    color: #faebd7;
    display: flex;
    justify-content: flex-end;
}

body > header > h1 {
    text-align: right;
    font-weight:bold;
    padding: 1em;
}

main>section {
    width: 100%;
    height: 80%;
    display: flex;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(250,235,215);
    
}

main>footer {
    background-color: rgb(65,74,76);
}

.tile {
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 13em;
    width: 24%;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    margin: 0.3%;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}
a > span {
    font-weight:bold;
    font-size: larger
}