* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

body > header {
    height: 12%;
    width: 100%;
    background-color: #e24510;
    color: #faebd7;
}

body > header > nav{
    text-align: left;
    padding: 1em;
}

body > header > h1 {
    text-align: right;
    font-weight:bold;
    padding: 1em;
}

main {
    height: 88%;
    display: flex;
    flex-direction: row;
}

main > article {
    height: 100%;
    background-color: #F9F6F4;
    flex-grow: 1;
    width: 30em;
}
main >article > h2 {
    padding: 1em;
    font-weight:bold;
}

main >article > nav {
    padding: 1em;
    font-weight:bold;
}
main > aside {
    background-color: #faebd7;
    width: 20em;
}

body > footer {
    width: 100%;
    height: 10%;
    background-color: #171717;
    color:  #faebd7;
}


.tile {
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 12em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    width: 20%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}
