html{
    line-height: 1.6;
}

h1{
    text-align: center;
    font-weight: bold;
}

form {
    width: 50em;
    border-color: #FC644D;
    margin: 2em;
    padding: 2em;
    border-radius: 1em; 
    background-color: #F5F5F5;
    margin: auto;
}

fieldset {
    background-color: #F5F5F5;
     border-radius: 1em;
     border-color: #FC644D
}


legend{
    font-size: 20px;
    font-weight: bold;
}

label {
    width:10em;
    clear:left;
    text-align:right;
}

label, input, select, option {
    float:left;
    text-align: left;
    min-width: 10em;
    max-width: 10em;
    margin: 1em;
}

range, input{
    min-width: 13em;
    max-width: 13em;
}
li{
    float:left;
    text-align: left;
    margin: 1em;
}


button[type=submit] {
    color: Black;
    min-width: 1em;
    float: center;
    font-size: large;
    margin: 1em;
    padding: 1em;
    text-align : center
}
div#Knop {
    text-align: center
}

